html, body {
  font-family: Arial, Helvetica,sans-serif;
  font-size: 18px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: 100%;
  padding-left: 12px;
  padding-right: 12px;
}

.pic{
  height: auto;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

header {
  margin : 10px;
  border:  1px solid red;
  padding-left: 30px;
  padding-right: 30px;
}

header article {
  text-align: left;
}

main {
  margin : 10px;
  border:  1px solid red;
  padding-left: 30px;
  padding-right: 30px;
}

nav {
  margin : 10px;
  border:  1px solid red;
  padding-bottom: 15px;
  font-size: 22px;
}

form {
  margin : 10px;
  border:  1px solid red;
  padding-bottom: 15px;
}

input {
  font-size: 22px;
  border-radius: 5px;
  text-align: center;
}

footer {
  margin : 10px;
  border:  1px solid red;
}


canvas {
  width: 200px;
  height: 200px;
}

#map {
  height: 100%;
  width: 100%;
}

iframe {
  height: 900px;
  width: 100%;
  
}
.border0 {border:0;}

video {
  height: auto;
  width: 100%;
}
